@import "tailwindcss";

body {
  margin: 0;
}

.site-bg {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 250ms;
  animation-timing-function: ease;
}

.title-font {
	font-family: "Rockwell", "Rockwell Nova", "Georgia", "Times New Roman", serif;
}