@import "tailwindcss";

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title-font {
	font-family: "Rockwell", "Rockwell Nova", "Georgia", "Times New Roman", serif;
}