---
import LinkButton from '../components/LinkButton.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

const pageTitle = "Projects";
const subtitleText = "Some subtitle text";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <ClientRouter />
		<title>{pageTitle}</title>
	</head>
	<body class="min-h-screen flex flex-col items-center">
        <div class="site-bg" transition:persist aria-hidden="true"></div>
		<div class="
			flex-1 w-full flex items-center justify-center
		">
			<div class="
			    flex-1 w-full flex items-center justify-center
			    w-full max-w-md rounded-2xl
			    bg-white/60 dark:bg-black/50 backdrop-blur-xl
			    border border-white/20 dark:border-black/20
			    text-gray-800 dark:text-gray-300 shadow-xl
			    p-10 flex flex-col items-center text-center
			">
				<h1 class="text-4xl title-font">{pageTitle}</h1>
				<h2 class="title-font">{subtitleText}</h2>
				<div class="flex flex-wrap justify-center gap-2 pt-4">
					<LinkButton href="/projects/searchino">Searchino</LinkButton>
					<LinkButton href="/projects/searchinolite">Searchino Lite</LinkButton>
				</div>
			</div>
		</div>
		<div class="pb-2">
			<p class="text-xs text-gray-500 text-center">
				This website is
				<a class="underline hover:text-gray-400" href="https://github.com/consciousbone/cbone-site">
					open source!
				</a>
			</p>
		</div>
	</body>
</html>
